:root {
  --clr-header-links: #FFF;
  --clr-slogan: #FFF;
  --clr-hamburger-line: #FFF;
  --graphic-design-text: hsl(167, 40%, 24%);
  --clr-photography-text: hsl(198, 62%, 26%);
  --clr-footer-background: hsl(168, 34%, 41%);
  --clr-link-red: hsl(7, 99%, 70%);
  --clr-link-yellow: hsl(51, 100%, 49%);
  --clr-yellow: rgb(255, 244, 190);
  --clr-dark-headings: hsl(212, 27%, 19%);
  --clr-dark-links: hsl(212, 27%, 19%);
  --clr-paragraph: hsl(232, 10%, 55%);

  --clr-very-dark-grayish-blue: hsl(213, 9%, 39%);
  --clr-grayish-blue: hsl(210, 4%, 67%);
}

.header {
  padding: 32px 24px 0;
  background-image: url(../images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.header__nav-section {
  display: flex;
  justify-content: space-between;
  padding: 0 0 88px 0;
}

.header__logo {
  width: 123px;
}

.header__nav {}

.header__nav-list {}

.desktop {
  display: none;
}

.header__nav-list-item {}

.header-link {
  color: var(--clr-header-links);
  text-decoration: none;
}

.contact-button {}

.header__hamburger {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: none;
  padding: 3px 0 0 0;
  background-color: transparent;
}

.header__hamburger-line {
  width: 24px;
  height: 2px;
  background-color: var(--clr-hamburger-line);
}

.header__cover-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 0 0 135px 0;
}

.header__slogan {
  color: #FFF;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 6.5px;
  text-align: center;
  text-transform: uppercase;
}

.header__arrow-icon {
  width: 35px;
}

.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 312px 1fr 310px 1fr 1fr 1fr;
}

.about__image-container {}

.image-egg {
  padding: 140px 0;
  background-image: url(../images/mobile/image-transform.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.info-card {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card__heading {
  padding: 53px 0 25px 0;
  color: var(--clr-dark-headings);
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 32px;
  text-align: center;
}

.info-card__text {
  color: var(--clr-paragraph);
  font-size: 18px;
  line-height: 1.65;
  letter-spacing: -0.12px;
  text-align: center;
  padding: 0 0 35px 0;
}

.info-card__link {
  text-decoration: none;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 17px;
  text-transform: uppercase;
  color: var(--clr-dark-links);
  padding: 0 3px 0 0;
}

.image-wine-glass {
  background-image: url(../images/mobile/image-stand-out.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.image-card {}

.image-cherry {
  background-image: url(../images/mobile/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.image-mandarin {
  background-image: url(../images/mobile/image-photography.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.image-card__heading {}

.image-card__text {}

@media screen and (min-width: 375px) {
  .header__slogan {
    font-size: 40px;
  }
}